	/* Variables */
    :root {
		--primary-color: hsl(161, 84%, 53%);
		--spacing-size: 5.25rem;
	}

    /* Resets */
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",      
		Roboto,      
		"Helvetica Neue",
		Arial,         
		sans-serif; 
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
    	button {
		all: unset;
		box-sizing: border-box;
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

