	/* Variables */
    :root {
		--primary-color: hsl(161, 84%, 53%);
		--text-color: hsl(264,31%,13%);
		--secondary-darl-color: hsl(293, 82%, 2%);
		--spacing-size: 5.25rem;
	}

	/* TODO: remove these and make them faster */

    /* Resets */
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",      
		Roboto,      
		"Helvetica Neue",
		Arial,         
		sans-serif; 
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #fafafa;
	}
    button {
		all: unset;
		box-sizing: border-box;
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}


	
