---
import PageCenter from '../layouts/PageCenter.astro';
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import HeroContainer from '../components/HeroContainer.astro';
import Section from '../components/Section.astro';
import Paragraph from '../components/Paragraph.astro';
import ServicesGrid from '../components/ServicesGrid.astro';
import CardGrid from '../components/CardGrid.astro';
import LogoMarquee from '../components/LogoMarquee.astro';
import Heading from '../components/Heading.astro';
import SectionText from '../components/SectionText.astro';
import Button from '../components/Button.astro';
import logo from '../assets/images/logo.svg';
import hero from '../assets/images/hero.webp';
import iconBam from '../assets/icons/icon-bam.svg';
import iconCollection from '../assets/icons/icon-collection.svg';
import iconDodo from '../assets/icons/icon-dodo.svg';
import iconEducation from '../assets/icons/icon-education.svg';
import iconFlora from '../assets/icons/icon-flora.svg';
import iconMicroscope from '../assets/icons/icon-microscope.svg';
import iconMonitoring from '../assets/icons/icon-monitoring.svg';
import iconReport from '../assets/icons/icon-report.svg';
import projectPic1 from '../assets/images/projects/project1/1.webp';
import projectPic2 from '../assets/images/projects/project1/2.webp';
import projectPic3 from '../assets/images/projects/project1/3.webp';
import csiroLogo from '../assets/logos/csiro-logo.svg';
import dpeLogo from '../assets/logos/dpe-logo.svg';
import ecoPlanningLogo from '../assets/logos/eco-planning-logo.svg';
import npwsLogo from '../assets/logos/npws-logo.svg';
import sbgLogo from '../assets/logos/sbg-logo.svg';
import sydneyWaterLogo from '../assets/logos/sydney-water-logo.svg';
import nswpfLogo from '../assets/logos/nswpf-logo.svg';
import umweltLogo from '../assets/logos/umwelt-logo.svg';
---

<Layout>
	<PageCenter>
		<NavBar
			logoSrc={logo.src}
			navItems={[
				{
					url: './about',
					text: 'About us',
				},
				{
					url: './services',
					text: 'Our Services ',
				},
				{
					url: './projects',
					text: 'Projects',
				},
			]}
		/>
		<HeroContainer
			text="Scientific Botanical Consulting"
			highRes="hero.webp"
			lowRes="data:image/webp;base64,UklGRlAAAABXRUJQVlA4IEQAAABwAwCdASoSAAcAP3Ggxli0q6ejsAgCkC4JYwCdABm+lD83VgAA+CwfGV4EdWP2rSYALJhuTotpogQ8y9BRzkH0qFuAAA=="
		/>
		<Section>
			<Heading>About us</Heading>
			<div class="text-base mt-2 leading-relaxed max-w-3xl text-center">
				<SectionText>
					Weston Botanical Services was founded by scientists Peter and Nicholas Weston. Together
					they bring over 45 years of experience and specialise in environmental science and botany
				</SectionText>
			</div>
		</Section>
		<Section>
			<Heading>Our Services</Heading>
			<ServicesGrid
				services={[
					{
						text: 'Flora Surveys, including BAM plots',
						iconSrc: iconBam.src,
						iconAlt: 'Grid icon',
					},
					{
						text: 'Threated speicies surveys',
						iconSrc: iconDodo.src,
						iconAlt: 'Dodo icon',
					},
					{
						text: 'Targeted Flora Surveys',
						iconSrc: iconFlora.src,
						iconAlt: 'Flower icon',
					},
					{
						text: 'Expert Reports',
						iconSrc: iconReport.src,
						iconAlt: 'Paper with charts icon',
					},
					{
						text: 'Specimen Collection',
						iconSrc: iconCollection.src,
						iconAlt: 'Plant press icon',
					},
					{
						text: 'Monitoring plant populations and communities',
						iconSrc: iconMonitoring.src,
						iconAlt: 'Bar chart icon',
					},
					{
						text: 'Botanical Research',
						iconSrc: iconMicroscope.src,
						iconAlt: 'Microscope Icon',
					},
					{
						text: 'Botanical Education',
						iconSrc: iconEducation.src,
						iconAlt: 'University Icon',
					},
				]}
			/>
			<div style="margin-top:2rem;">
				<Button buttonType="primary">LEARN MORE</Button>
			</div>
		</Section>
		<Section color="theme">
			<h1 class="text-4xl font-bold leading-tight">Our Projects</h1>
			<CardGrid
				cards={[
					{
						title: 'Some project name',
						image: projectPic1.src,
						imageAlt: 'Man measuring treeline',
						description:
							'Elit. Aenean commodo ligula eget dolor. Aenean magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat mass',
					},
					{
						title: 'Another rad name',
						image: projectPic2.src,
						imageAlt: 'Man measuring treeline',
						description: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean mass',
					},
					{
						title: 'cool name',
						image: projectPic3.src,
						imageAlt: 'Man measuring treeline',
						description:
							'Lorem ipsum dolor sit dolor. Aenean massa. Cum sociis natoque penatibus et, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat mass',
					},
				]}
			/>
		</Section>
		<Section className="flex flex-col md:flex-row gap-4 p-12 mb-0!" color="black">
			<div class="pl-2 pr-2 mt-20 w-[80%] md:w-[30%]">
				<h1 class="text-4xl font-bold leading-tight text-white">Work with us</h1>
				<Paragraph
					text="Join our list of satisfied clients across government and industry"
					size="medium"
					fontWeight={100}
					alignment="left"
					color="#fefefe"
				/>
				<br />
				<Button buttonType="primary"> Lets talk</Button>
			</div>
			<LogoMarquee
				logos={[
					{
						src: csiroLogo.src,
						alt: 'CSIRO Logo',
					},
					{
						src: npwsLogo.src,
						alt: 'Lyre Bird Logo',
					},
					{
						src: umweltLogo.src,
						alt: 'Umwelt Logo',
					},
					{
						src: dpeLogo.src,
						alt: 'NSW Government Logo',
					},
					{
						src: nswpfLogo.src,
						alt: 'NSW Police Logo',
					},
					{
						src: sydneyWaterLogo.src,
						alt: 'Sydney Water Logo',
					},
					{
						src: sbgLogo.src,
						alt: 'Sydney Botanical Gardens Logo',
					},
					{
						src: ecoPlanningLogo.src,
						alt: 'Eco Planning Logo',
					},
				]}
			/>
		</Section>
	</PageCenter>
</Layout>
