---
interface Props {
	highRes: string;
}

const { highRes } = Astro.props as Props;
---

<div id="banner-hi-res" data-src={highRes}></div>

<style>
	div {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover;
		background-position: right 35% bottom 45%;
		opacity: 0;
		transition: opacity 600ms ease-out;
	}
</style>

<script is:inline>
	requestIdleCallback(() => {
		const container = document.getElementById('banner-hi-res');
		container.style.backgroundImage = `url(${container.dataset.src})`;
		container.style.opacity = 1;
	});
</script>
