---
import type { CardType } from '../global';
import Card from './Card.astro';

interface Props {
	cards: CardType[];
}

const { cards } = Astro.props as Props;
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-6 pl-2">
	{cards.map((c) => <Card card={c} />)}
</div>
