---
import type { CardType } from '../global';
import SectionText from './SectionText.astro';

export interface Props {
	card: CardType;
}

const { card } = Astro.props as Props;
---

<a href="https://www.lol.com">
	<div
		class="card bg-base-100 md:w-60 lg:w-96 shadow-sm max-w-80 h-full transform transition-transform hover:scale-102 duration-300 ease-in-out"
	>
		<figure>
			<img loading="lazy" src={card.image} alt={card.imageAlt} />
		</figure>
		<div class="card-body">
			<SectionText class="card-title">{card.title}</SectionText>
			<p>
				{card.description}
			</p>
		</div>
	</div>
</a>
