---
interface Props {
	heroText: string;
}

const { heroText } = Astro.props as Props;
---

<div>
	<h1>{heroText}</h1>
</div>

<style>
	div {
		align-content: center;
		display: flex;
		flex-wrap: wrap;
		z-index: 10;
		height: 100%;
		width: 100%;
		justify-content: center;
		position: absolute;
	}

	h1 {
		color: #fff;
		font-size: 6rem;
		filter: drop-shadow(1px 1px 13px rgba(0, 0, 0, 1));
		letter-spacing: -0.15rem;
		font-optical-sizing: auto;
		font-weight: 800;
		text-align: center;
		padding: 5rem;
		line-height: normal;
		font-style: oblique;
		font-variation-settings: 'width' 100;
	}

	@media (max-width: 640px) {
		h1 {
			font-size: 4rem;
			text-align: left;
			line-height: 100%;
			text-align: center;
			padding: 1rem;
		}
	}
</style>
