---
import Paragraph from './Paragraph.astro';

export type Service = {
	text: string;
	iconSrc: string;
	iconAlt: string;
};

interface Props {
	services: Service[];
}

const { services } = Astro.props as Props;
---

<div class="grid">
	{
		services.map((s, i) => (
			<div class="item">
				<img src={s.iconSrc} alt={s.iconAlt} loading={i < 2 ? 'eager' : 'lazy'} />
				<Paragraph text={s.text} alignment="left" size="medium" />
			</div>
		))
	}
</div>

<style>
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem 4rem;
		width: 80%;
		padding: 0 var(--spacing-size);
	}

	.item {
		height: 7rem;
		width: 100%;
		text-align: center;
		display: flex;
		padding: 1rem;
		font-size: 2rem;
		justify-content: flex-start;
		align-items: center;
		border-radius: 1rem;
		background: #ffffff;
	}

	img {
		margin-right: 1rem;
		height: 3.5rem;
		width: 3.5rem;
		aspect-ratio: 1 / 1;
	}

	p {
		text-align: left;
		line-height: 1.2;
		color: hsl(264, 31%, 13%);
		font-family: 'Ubuntu Sans', sans-serif;
		font-optical-sizing: auto;
		font-weight: 500;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}

	@media (max-width: 600px) {
		.grid {
			grid-template-columns: 1fr;
		}
	}
</style>
