---
import SectionText from './SectionText.astro';

export type Service = {
	text: string;
	iconSrc: string;
	iconAlt: string;
};

interface Props {
	services: Service[];
}

const { services } = Astro.props as Props;
---

<section class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6 pl-2 pr-2">
	{
		services.map((s) => (
			<div class="card card-side bg-base-100 shadow-sm">
				<figure>
					<img loading="lazy" class="m-4" src={s.iconSrc} alt={s.iconAlt} />
				</figure>
				<div class="card-body">
					<SectionText>{s.text}</SectionText>
				</div>
			</div>
		))
	}
</section>

<style>
	img {
		margin-right: 1rem;
		height: 3.5rem;
		width: 3.5rem;
		aspect-ratio: 1 / 1;
	}
	@media (max-width: 640px) {
		img {
			height: 2.3rem;
			width: 2.3rem;
			margin-right: 0rem;
		}
	}
</style>
