---
import type { CSSProperty } from 'astro/types';
import { cssObjectToString } from '../helpers/css-object-to-string';

export interface Props {
	text: string;
	wordsToBold?: string[];
	invert?: boolean;
	styleOverrides?: Partial<Record<string, CSSProperty>>;
}

const { text, wordsToBold, invert, styleOverrides } = Astro.props as Props;
let textStyle = `color:${invert ? '#fff' : 'var(--secondary-dark-color)'};`;
if (styleOverrides) {
	textStyle = textStyle + cssObjectToString(styleOverrides);
}
---

<h2 style={textStyle}>
	{
		wordsToBold
			? text.split(' ').map((word) => {
					if (wordsToBold?.includes(word)) {
						return <span style="font-weight: 800;">{word + ' '}</span>;
					}
					return <span>{word + ' '}</span>;
				})
			: text
	}
</h2>

<style>
	h2 {
		font-size: 4.5rem;
		font-weight: 500;
		letter-spacing: -0.03rem;
		margin-bottom: calc(var(--spacing-size) / 3);
		font-family: 'Merriweather', serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-variation-settings: 'wdth' 100;
	}
</style>
