---
import PageCenter from '../../layouts/PageCenter.astro';
import Layout from '../../layouts/Layout.astro';
import Banner from '../../components/Banner.astro';
import Section from '../../components/Section.astro';
import Heading from '../../components/Heading.astro';
import SectionText from '../../components/SectionText.astro';
import BackOnlyNav from '../../components/BackOnlyNav.astro';
import logo from '../../assets/images/logo.svg';
import banner from '../../assets/images/about/1.webp';
---

<Layout>
	<PageCenter>
		<BackOnlyNav logoSrc={logo.src} />
		<Banner
			highRes={banner.src}
			lowRes="data:image/webp;base64,UklGRrYAAABXRUJQVlA4IKoAAAAQBwCdASrAADAAP/3+/3+/uD+7pXK92/A/iWUA1JHiwTKtUwx5w5nhJMaZw4wxZruAowYMi1sXZR/NbcfOLhT7eADVfqSkJs4V4v1KADJKfHcyRnlBwprOIlEHy/J/QgrObDSNbp3mJ3kltoLdtVOVCSqoVu1GCSq9lTg7808NAmPVOPsEeZMwjkg0nUR8E8Oh2QYYFAXuNmgNkFjjAPUoOzJxzRGLIXgAAA=="
		/>
		<Section>
			<Heading>Projects</Heading>
			<div class="text-base mt-2 leading-relaxed max-w-3xl text-center">
				<SectionText>
					Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae
					pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu
					aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
					Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
					aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos. Lorem
					ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae
					pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu
					aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
					Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
					aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos. Lorem
					ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae
					pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu
					aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
					Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
					aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos. Lorem
					ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae
					pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu
					aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
					Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
					aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos. Lorem
					ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae
					pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu
					aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
					Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
					aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
				</SectionText>
				<br />
				<SectionText>
					Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae
					pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu
					aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
					Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
					aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos. Lorem
					ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae
					pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu
					aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
					Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
					aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos. Lorem
					ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae
					pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu
					aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
					Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
					aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos. Lorem
					ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae
					pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu
					aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
					Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
					aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos. Lorem
					ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae
					pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu
					aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
					Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
					aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
				</SectionText>
			</div>
		</Section>
	</PageCenter>
</Layout>
