---
import '../styles/global.css';
---

<!doctype html>
<html lang="en" data-theme="forest">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Weston Botanical Services</title>
		<link rel="icon" href="logo.svg" />
		<meta name="robots" content="index, follow" />
		<meta property="og:title" content="Weston Botanical Services" />
		<meta
			property="og:description"
			content="Expert botanical consulting, flora surveys, threatened species assessments, specimen collection, monitoring, research, and education by scientists Peter and Nicholas Weston."
		/>
		<meta property="og:type" content="website" />
		<meta
			name="description"
			content="Weston Botanical Services provides expert botanical consulting, including flora surveys, threatened species assessments, specimen collection, monitoring, research, and education. Founded by scientists Peter and Nicholas Weston with over 45 years of experience."
		/>
		<link rel="preload" as="image" href="hero.webp" fetchpriority="high" />
	</head>
	<body>
		<slot />
	</body>
	<script type="application/ld+json">
		//
	</script>
</html>
