---
import '../styles/global.css';
---

<!doctype html>
<html lang="en" data-theme="forest">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Weston Botanical Services</title>
		<meta name="robots" content="index, follow" />
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta property="og:title" content="Weston Botanical Services" />
		<meta
			property="og:description"
			content="Expert botanical consulting, flora surveys, threatened species assessments, specimen collection, monitoring, research, and education by scientists Peter and Nicholas Weston."
		/>
		<meta property="og:type" content="website" />
		<meta
			name="description"
			content="Weston Botanical Services provides expert botanical consulting, including flora surveys, threatened species assessments, specimen collection, monitoring, research, and education. Founded by scientists Peter and Nicholas Weston with over 45 years of experience."
		/>
		<link rel="preload" as="image" href="hero.webp" fetchpriority="high" as="image" />
	</head>
	<body>
		<slot />
	</body>
</html>
